---
import Section from "../Section.astro"

interface Props {
  cvData: any;
}

const { cvData } = Astro.props;
const { summary } = cvData.basics;

// Títulos según idioma
const lang = Astro.url.pathname.startsWith("/es") ? "es" : "en";
const sectionTitle = lang === "en" ? "About me" : "Sobre mí";
---

<Section title={sectionTitle}>
    <Fragment set:html={summary} />
</Section>
