---
// se ejecuta en el servidor o en build time <----
const { title } = Astro.props
// sacar el titulo y crear dos variables, una con los primeras 4 letras y otra con el resto

let primeraParte = "";
let segundaParte = "";

if (title) {
  primeraParte = title.slice(0, 4);
  segundaParte = title.slice(4);
}

---

<section>
  {title && <h2 class="text-black dark:text-slate-50"><span class="back"> {primeraParte}</span><span class="text-red">{segundaParte}</span></h2>}
  <slot />
</section>

<script>
  // se ejecuta en el cliente <----
</script>

<style>
  .back {
    background-color: #F8B84B;
    padding: 5px 0 5px 5px;
  }
  section {
    max-width: 800px;
    margin: 0 auto 48px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
