---
// se ejecuta en el servidor o en build time <----
const { title } = Astro.props
// Resaltar la primera palabra completa y dejar el resto en color normal

let primeraParte = "";
let segundaParte = "";

if (title) {
  const idx = title.indexOf(" ");
  if (idx === -1) {
    primeraParte = title;
  } else {
    primeraParte = title.slice(0, idx);
    segundaParte = title.slice(idx + 1);
  }
}

---

<section>
  {title && (
    <h2 class="text-black dark:text-slate-100">
      <span class="back">{primeraParte}</span>{segundaParte && <span class="rest">{segundaParte}</span>}
    </h2>
  )}
  <slot />
</section>

<script>
  // se ejecuta en el cliente <----
</script>

<style>
  .back {
    background-color: #F8B84B;
    color: #0f172a;
    padding: 5px 5px;
  }

  .rest {
    margin-left: 0.15ch;
  }
  section {
    max-width: 800px;
    margin: 0 auto 48px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
