---
import { DarkMode } from "./DarkMode.jsx";
---

<div class="preference-container no-print">
  <DarkMode client:load/>
  
</div>

<style>
  .preference-container {
    position: absolute;
    right: 0;
    padding: 12px;
  }
</style>
