---
import { DarkMode } from "./DarkMode.jsx";
import { LanguagePicker } from "./LanguagePicker.jsx";
---

<div class="preference-container no-print">
  <div class="preferences-buttons">
    <DarkMode client:load/>
    <LanguagePicker client:load/>
  </div>
</div>

<style>
  .preference-container {
    position: absolute;
    right: 0;
    padding: 12px;
  }
  
  .preferences-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
  }
</style>
